<!DOCTYPE html>
<html>
<body class="sidebar-mini skin-purple wysihtml5-supported">
<div>
	<section class="content">
		<div class="row">
			<ol class="breadcrumb">
				<li><a>数据通道</a></li>
				<li class="active">数据上传</li>
			</ol>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<form class="form-horizontal" method="post" id="form" action="/smartx/transform/fileUpload/local" target="callbackIframe" enctype="multipart/form-data">
						<div class="box-body">
							<div class="form-group">
								<label class="col-sm-2 control-label">任务名称</label>
								<div class="col-sm-3 input-group-sm">
									<input type="text" class="form-control" id="name" name="name" placeholder="">
								</div>
								<div class="col-sm-7">
									<input type="hidden" id="id" name="id"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">负责人</label>
								<div class="col-sm-3 input-group-sm">
									<input type="text" class="form-control" id="administrator" name="administrator" readonly >
								</div>
								<div class="col-sm-1" style="line-height:30px;padding-left:0;">
									<i class="fa fa-fw fa-plus" id="addUserBut"></i>
								</div>
								<div class="col-sm-6"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">共享</label>
								<div class="col-sm-3 input-group-sm">
									<select id="share" name="share" class="myselect100">
										<option value="0">是</option>
										<option value="1">否</option>
									</select>
								</div>
								<div class="col-sm-7"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">hive库</label>
								<div class="col-sm-3 input-group-sm">
									<input type="text" class="form-control" id="database" name="database" placeholder="">
									<label class="glyphicon glyphicon-search quickSearchIcon"></label>
								</div>
								<div class="col-sm-7">
									<input type="hidden" id="databaseId" name="databaseId"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">hive表</label>
								<div class="col-sm-3 input-group-sm">
									<input type="text" class="form-control" id="table" name="table" placeholder="">
									<label class="glyphicon glyphicon-search quickSearchIcon"></label>
								</div>
								<div class="col-sm-7">
									<input type="hidden" id="tableId" name="tableId"/>
								</div>
							</div>
							<div class="form-group partitionDiv" style="display: none;">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-6 input-group-sm">
									<table class="table table-condensed">
										<thead>
										<tr>
											<th>分区字段</th>
											<th>分区值</th>
										</tr>
										</thead>
										<tbody id="yuanElm">
										</tbody>
									</table>
								</div>
								<div class="col-sm-4"></div>
							</div>
							<!--<div class="form-group">-->
							<!--<label class="col-sm-2 control-label">上传文件格式</label>-->
							<!--<div class="col-sm-3 input-group-sm">-->
							<!--<select id="type" name="type" class="myselect100">-->
							<!--<option value="csv">csv</option>-->
							<!--<option value="txt">txt</option>-->
							<!--</select>-->
							<!--</div>-->
							<!--<div class="col-sm-7"></div>-->
							<!--</div>-->
							<div class="form-group">
								<label for="database" class="col-sm-2 control-label">上传文件</label>
								<div class="col-sm-3 input-group-sm">
									<input type="file"  id="file" name="file" >
								</div>
								<div class="col-sm-7"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">描述</label>
								<div class="col-sm-6">
									<textarea class="form-control" id="describe" name="describe" rows="6" placeholder="描述..."></textarea>
								</div>
								<div class="col-sm-4"></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-3">
									<a class="btn btn-info pull-left" id="addOne">保存</a>
								</div>
								<div class="col-sm-3">
								</div>
								<div class="col-sm-4"></div>
							</div>
						</div><!-- /.box-body -->
					</form>
				</div>
			</div>
		</div>

	</section>
</div>

<div class="modal" id="userModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">请选择用户</h4>
			</div>
			<div class="modal-body">
				<div class="box box-solid">
					<div class="box-header with-border">
						<div class="form-group">
							<label  class="col-sm-2 control-label">快速查询</label>
							<div class="col-sm-6 input-group-sm">
								<input type="text" class="form-control" id="quickSearchName" placeholder="">
							</div>
							<div class="col-sm-4"></div>
						</div>

					</div>
					<div class="box-body no-padding selectUsers">
						<!--<a class="btn btn-app" data-id="1" data-loginName="guoyan">-->
						<!--<span class="badge bg-yellow"><i class="fa fa-fw fa-times"></i></span>-->
						<!--Notifications-->
						<!--</a>-->
					</div>
					<div class="box-body no-padding" style="display: block;">
						<ul class="nav nav-pills nav-stacked myuserUl">
							<!--<li><a href="javascript:void(0);">郭岩  guoya@elong.com</a></li>-->
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="addFuzeren">确定</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<iframe id="callbackIframe" name="callbackIframe" style="display: none;">
</iframe>

</body>
<script src="../..//js/channel/upload.js"></script>
</html>
