<!DOCTYPE html>
<html>
  <body class="sidebar-mini skin-purple wysihtml5-supported">
	  <div>
		  <section class="content">
			  <div class="row">
				  <ol class="breadcrumb">
					  <li><a>数据知识</a></li>
					  <li class="active">标签管理</li>
				  </ol>
			  </div>
			  <div class="row">
				  <div class="col-md-12">
					  <div class="box  box-table">
						  <div class="box-header with-border">
							  <div class="mytableTop" style="position:relative;">
								  <div class="box-title">标签列表</div>
								  <button class="btn  btn-info btn-sm pull-right operButs" id="save" style="width:100px;">保存</button>
								  <button class="btn  btn-info btn-sm pull-right operButs" id="reset" style="width:100px;margin-right:20px;">重置</button>
							  </div>
						  </div>
						  <div class="box-body" style="min-height:600px;" id="tags">
							  <div class="row" id="tagsList">
								  <div class="col-md-6">
									  <div class="info-box tagInfoBox tagInfoMes">
										  <div class="info-box-icon bg-aqua tagTitle">
											  <div class="titleButs">
												  <i class="fa fa-fw fa-arrows"></i>
												  <i class="fa fa-fw fa-pencil-square-o"></i>
												  <i class="fa fa-fw fa-times"></i>
											  </div>
											  <span class="titleSpan">数据库</span>
										  </div>
										  <div class="info-box-content tagParent">
											  <div class="tagOuter">
												  <div class="tagInner">
													  <span class="fa fa-paperclip tagIcon"></span>
													  <span class="tabConent">oracle1</span>
													  <span class="fa fa-fw fa-pencil-square-o tabModify"></span>
													  <span class="fa fa-fw fa-times tabDelete"></span>
												  </div>
											  </div>
											  <div class="tagOuter">
												  <div class="tagInner">
													  <span class="fa fa-paperclip tagIcon"></span>
													  <span class="tabConent">oracle2</span>
													  <span class="fa fa-fw fa-pencil-square-o tabModify"></span>
													  <span class="fa fa-fw fa-times tabDelete"></span>
												  </div>
											  </div>
											  <div class="tagOuter">
												  <div class="addSecondTag">
													  <i class="fa fa-fw fa-plus"></i>
												  </div>
											  </div>
										  </div>
									  </div>
								  </div>
								  <div class="col-md-6">
									  <div class="info-box tagInfoBox tagInfoMes">
										  <div class="info-box-icon bg-aqua tagTitle">
											  <div class="titleButs">
												  <i class="fa fa-fw fa-arrows"></i>
												  <i class="fa fa-fw fa-pencil-square-o"></i>
												  <i class="fa fa-fw fa-times"></i>
											  </div>
											  <span class="titleSpan">数据库</span>
										  </div>
										  <div class="info-box-content tagParent">
											  <div class="tagOuter">
												  <div class="tagInner">
													  <span class="fa fa-paperclip tagIcon"></span>
													  <span class="tabConent">oracle1</span>
													  <span class="fa fa-fw fa-pencil-square-o tabModify"></span>
													  <span class="fa fa-fw fa-times tabDelete"></span>
												  </div>
											  </div>
											  <div class="tagOuter">
												  <div class="tagInner">
													  <span class="fa fa-paperclip tagIcon"></span>
													  <span class="tabConent">oracle2</span>
													  <span class="fa fa-fw fa-pencil-square-o tabModify"></span>
													  <span class="fa fa-fw fa-times tabDelete"></span>
												  </div>
											  </div>
											  <div class="tagOuter">
												  <div class="addSecondTag">
													  <i class="fa fa-fw fa-plus"></i>
												  </div>
											  </div>
										  </div>
									  </div>
								  </div>
								  <div class="col-md-6" class="addFirstTagCol" id="addFirstTagCol">
									  <div class="info-box tagInfoBox">
										  <div class="info-box-icon bg-aqua tagTitle">
											  <div class="addFirstTag">
												  <i class="fa fa-fw fa-plus"></i>
											  </div>
										  </div>
									  </div>
								  </div>

							  </div>
						  </div>
					  </div>
				  </div>
			  </div>
		  </section>
	  </div>
  </body>
  <script src="/static/js/hiveTable/tagManage.js"></script>
</html>
